:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* ********************************************************************* */
body {
  background: linear-gradient(to right, #3f87a6, #ebf8e1, #fff49f);
}
.gallery{
  list-style-type: none;
  text-decoration: none;

}

.link {
  background-color: #97a5ff;
  width: 8%;
  font-size: 16px;
  font-weight: 400;
  color: blue;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 120px 100px 15px;
  box-shadow: 0px 2px 4px 2px rgba(143, 209, 233, 0.9);
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background: linear-gradient(to bottom, #0147a6, #fff49f);
  background-color: #82d8e5;
  box-shadow: 4px 4px 0px 1px rgba(56, 100, 105, 0.5);
}
