.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: hsl(179, 57%, 82%);
  border: 1px solid rgba(119, 108, 213, 0.12);
  border-radius: 10px;
  font-weight: 500;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #4d59a6;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
  background-color: #a6dee6;
  border: 1px solid rgb(9, 133, 142);
  border-radius: 12px;
  font-size: larger;
  font-weight: 700;
  line-height: 1.5;
  color: #4d59a6;
}

input,
textarea {
  padding: 8px;
  font: inherit;
  background-color: #d6f2f6;
  border: 1px solid rgb(9, 133, 142);
  border-radius: 12px;
}

textarea {
  resize: none;
  background-color: #d6f2f6;
}
/* ******************************************************** */
.feedback-form button:hover {
  color: #4d59a6;
  background-color: #9acdd4;
  box-shadow: 4px 4px 3px rgb(71, 102, 109);
font-weight: 700;
letter-spacing: 2;
}

.link {
  background-color: #97a5ff;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  color: rgb(48, 48, 193);
  /* display: inline-block; */
  padding: 10px 20px;
  border-radius: 120px 100px 15px;
  box-shadow: 0px 2px 4px 2px rgba(143, 209, 233, 0.9);
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background: linear-gradient(to bottom, #0147a6, #fff49f);
  background-color: #82d8e5;
  box-shadow: 4px 4px 0px 1px rgba(56, 100, 105, 0.5);
  transition: background-color 2s linear;
}
