* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
/* --------------------------------------------------- */
ul li a {
  color:blue;
  text-decoration: none;
  text-shadow: 1px 0px 1px rgba(236, 187, 200, 0.9); 
}
.link {
  display: block;
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  background-color: #97a5ff;
  width: 12%;
  font-size: 16px;
  font-weight: 500;
  color: blue;
  padding: 10px 15px;
  border-radius: 120px 100px 15px;
  box-shadow: 0px 2px 4px 2px rgba(143, 209, 233, 0.9);
  transition: background-color 0.3s ease-in-out;
}

.link:hover {
  background: linear-gradient(to bottom, #0147a6, #fff49f);
  background-color: #82d8e5;
  box-shadow: 4px 4px 0px 1px rgba(56, 100, 105, 0.5);
    transition: background-color 2s linear;

}
 .star {
      position: absolute;
      background-color: white;
      width: 3px;
      height: 3px;
      opacity: 0; /* Початково зробимо зірки невидимими */
      animation: blinkAnimation 1.5s infinite alternate; /* Додаємо анімацію */
    }

    @keyframes blinkAnimation {
      from { opacity: 0; }
      to { opacity: 0.5; }
    }